/* Globals - The title is misleading xD */

.width {
    max-width: 1600px;
    padding: 0px 15px;
    margin: auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #3a3a3a;
}

#nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

#main_nav {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
}

.nav-inner {
    padding-bottom: 5px;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#nav #logo {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 5px;
}

#logo_name {
    color: #939393;
    font-weight: 700;
    margin: 16px 0px 0px 10px;
    width: 250px;
    float: left;
}

.nav {
    width: 400px;
    text-align: center;
    margin: auto;
}

.nav a {
    color: #939393;
    text-decoration: none;
    transition: color 0.15s ease;
    font-size: 14px;
    position: relative;
}

.nav a:hover, .nav a.active {
    color: #418040;
}

.nav a.active:after {
    content: " ";
    background: #418040;
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -3px;
}

.nav ul {
    padding: 0;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 4px;
}

#user_nav {
    width: 200px;
    float: right;
    text-align: right;
}

#user_nav .loggedin {
    position: relative;
    float: right;
}

#user_nav .loggedin .click-space {
    cursor: pointer;
    float: right;
}

#user_nav .loggedin.down .chevron {
    transform: rotateZ(180deg);
}

#user_nav .chevron {
    color: #939393;
    float: right;
    margin-top: 16px;
    margin-left: 10px;
    transition: transform 0.2s ease;
    transform: rotateZ(0deg);
}

#user_nav .loggedin .greet {
    float: right;
    color: #939393;
    margin-right: 10px;
    margin-top: 17px;
}

#user_nav .loggedin .image {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: right;
    margin-top: 8px;
}

#user_nav #nav_submenu {
    visibility: hidden;
    padding: 8px;
    background: white;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: 40px;
    opacity: 0;
    transition: all 0.2s ease;
    min-width: 180px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}

#user_nav #nav_submenu ul {
    margin: 0;
}

#user_nav .loggedin.down #nav_submenu {
    top: 60px;
    opacity: 1;
    visibility: visible;
}

#user_nav .loggedin.down #nav_submenu li {
    width: 100%;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#user_nav .loggedin.down #nav_submenu a:last-child li {
    text-align: left;
    border-bottom: 1px solid transparent;
}

#footer {
    background-color: #262626;
    text-align: center;
    color: white;
    clear: both;
    font-size: 14px;
    overflow: hidden;
}

#footer .grid-inner {
    max-width: 1400px;
    margin: 60px auto;
}

#pagination a.active {
    color: #3a3a3a;
}
