.BoxLabel
{
	font-size: 18px;
    text-align: left;
	padding: 1.0em;
	padding-top: 0.25em;
}

.BoxContent
{
	font-size: 14px;
    text-align: center;
	position: inherit;
	
}

.BoxContainer
{
	border: solid 1px;
	margin: 1.0em;
	overflow:auto;
}

.skillImg {
	max-width: 100px;
	max-height: 100px;
    border-radius: 50%;
}

.skillSection
{
	float:left;
	position: relative;
    display: inline-block;
	margin-bottom: 80px;
}

.skillLabel
{
	text-align: center;
	font-size: 16px;
}

/* Tooltip text */
.skillSection .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.skillSection:hover .tooltiptext {
    visibility: visible;
}

